<h1 class="edit1">Editing Media</h1>
<script type="text/javascript">
    $(document).ready(function(){
        $("#media").css("background-color", "red");

    });
</script>
<%= render 'form' %>
<div class="edit2">
<%= link_to 'View', @tbl_medium, :class => "btn_submit" %> |
<%= link_to 'Back', tbl_media_path, :class => "btn_submit" %>
</div>