<h1 class="new1">Add New FormFieldHelper</h1>
<script type="text/javascript">
    $(document).ready(function(){
        $("#formfieldhelper").css("background-color", "red");

    });
</script>
<%= render 'form' %>
<div class="new2">
<%= link_to 'Back', tbl_form_field_helpers_path , :class => "btn_submit"%>
</div>