<h1 class="new1">Add New PageBanner</h1>
<script type="text/javascript">
    $(document).ready(function(){
        $("#pagebanner").css("background-color", "red");

    });
</script>
<%= render 'form' %>
<div class="new2">
<%= link_to 'Back', tbl_page_banners_path, :class => "btn_submit" %>
</div>