




  <div >
    <h1 style="color: #368ccc;
            position: relative;
            bottom: 366px;
            right: -430px;">SUCCESSFULLY AUTHENTICATED</h1>
<p style="color: #368ccc;
        position: relative;
        right: -928px;
        bottom: 404px;
        font-size: 21px;" ><strong>Welcome Mr. <%= @sessName %>!
</strong></p>
  </div>

