<h1>Editing tbl_layout_placeholder</h1>

<%= render 'form' %>

<%= link_to 'Show', @tbl_layout_placeholder, :class => "btn_submit" %> |
<%= link_to 'Back', tbl_layout_placeholders_path , :class => "btn_submit"%>
