<h1 class="new1">Add New Page</h1>
<script type="text/javascript">
    $(document).ready(function(){
        $("#pagemang").css("background-color", "red");

    });
</script>
<%= render 'form' %>
<div class="new2">
<%= link_to 'Back', tbl_pages_path , :class => "btn_submit"%>
</div>