<h1 class="edit1">Editing Banner</h1>
<script type="text/javascript">
    $(document).ready(function(){
        $("#banner").css("background-color", "red");

    });
</script>
<%= render 'form' %>
<div class="edit2">
<%= link_to 'View', @tbl_banner, :class => "btn_submit" %> |
<%= link_to 'Back', tbl_banners_path, :class => "btn_submit" %>
</div>