<h1 class="new1">Add New Banner</h1>
<script type="text/javascript">
    $(document).ready(function(){
        $("#banner").css("background-color", "red");

    });
</script>
<%= render 'form' %>

<div class="new2">
<%= link_to 'Back', tbl_banners_path , :class => "btn_submit"%>
</div>