<h1 class="edit1">Editing Configuration</h1>
<script type="text/javascript">
    $(document).ready(function(){
        $("#config").css("background-color", "red");

    });
</script>
<%= render 'form' %>
<div class="edit2">
<%= link_to 'View', @tbl_config , :class => "btn_submit"%> |
<%= link_to 'Back', tbl_configs_path, :class => "btn_submit" %>
</div>