<h1 class="edit1">Editing PlaceHolderContent</h1>

<%= render 'form' %>
<div class="edit2">
<%= link_to 'View', @tbl_place_holder_content, :class => "btn_submit" %> |
<%= link_to 'Back', tbl_place_holder_contents_path,:class => "btn_submit"%>
</div>